@font-face {
  font-family: 'NeoDunggeunmoPro-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/NeoDunggeunmoPro-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

#root {
  height: 100vh;
  overflow: hidden;
}

.container {
  height: 937px;
  background-image: url('Tetris-love.jpg');
  background-size: 20%;
  position: relative;
}

.random-icon {
  position: absolute;
  top: 105px;
  right: 180px;
  width: 80px;
  height: 80px;
  animation: bounce 5s infinite;
}

@keyframes bounce {
  0% {
    transform: translateX(0) translateY(0);
  }

  10% {
    transform: translateX(-20px) translateY(0);
  }

  30% {
    transform: translateX(40px) translateY(0);
  }

  50% {
    transform: translateX(0px) translateY(0px);
  }

  60% {
    transform: translateX(0px) translateY(-10px);
  }

  70% {
    transform: translateX(0px) translateY(-0);
  }

  80% {
    transform: translateX(0px) translateY(-10);
  }

  100% {
    transform: translateX(0px) translateY(0);
  }
}

.wrap {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  background-image: url('./img/tetris-01.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 1400px;
  height: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-display-continer {
  border: 1px solid pink;
  width: 540px;
  height: 640px;
  margin: 30px auto;
  position: relative;
}

.t-board {
  font-family: 'NeoDunggeunmoPro-Regular';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 100%;
  margin-right: 40px;
  background-color: black;
  outline: none;
  float: left;
}

.t-score {
  font-family: 'NeoDunggeunmoPro-Regular';
  float: left;
  height: 100%;
  width: 30%;
  font-size: 25px;
  font-weight: bold;
  color: #ffffff;
}

.t-score .t-score-label {
  padding: 20px;
  margin: 20px 0px 30px;
  border: 3px solid white
}

.t-board .t-row {
  display: flex;
}

.t-cell {
  width: 28px;
  height: 28px;
  margin: 1px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.2) 100%);
}

.t-cell-0 {
  background-color: #f2f2f2;
}

.t-cell-1 {
  background-color: #ff4081;
}

.t-cell-2 {
  background-color: blue;
}

.t-cell-3 {
  background-color: orange;
}

.t-cell-4 {
  background-color: green;
}

.t-cell-5 {
  background-color: yellow;
}

.t-cell-6 {
  background-color: purple;
}

.t-cell-7 {
  background-color: red;
}

.game-over {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(180, 220, 255, 0.8);
  width: 350px;
  height: 150px;
  padding: 20px 30px;
  color: #ff036c;
  font-size: 50px;
  font-weight: bold;
}

.game-over button {
  font-family: 'NeoDunggeunmoPro-Regular';
  margin-top: 16px;
  padding: 8px 16px;
  font-size: 20px;
  font-weight: bold;
  background-color: #ff036c;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.game-over button:hover {
  background-color: #d5004e;
}

.button {
  position: absolute;
  top: 210px;
  right: -323px;
  width: 225px;
  height: 400px;
}

.button button {
  width: 100%;
  padding: 43px 40px;
  margin-bottom: 48px;
  font-family: 'NeoDunggeunmoPro-Regular';
  font-size: 40px;
  font-weight: bold;
  background: linear-gradient(40deg, #0912C6, #091278);
  box-shadow: 0 -6px 10px 5px #091278 inset;
  border-radius: 40px;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.button button:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.button button:hover:before {
  transform: scale(2);
  opacity: 0.5;
}

.button button:hover {
  box-shadow: 5px 0 0px -6px #091278 inset;
  background-color: #091278;
}

/* 게임방법 */
.info-button {
  z-index: 1;
  position: absolute;
  top: 190px;
  left: 110px;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.info-button:before {
  content: "?";
  font-family: 'NeoDunggeunmoPro-Regular';
  font-size: 60px;
  color: white;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.info-button:hover {
  background-color: transparent;
}

.info-button:hover:before {
  transform: scale(1.2);
  text-shadow: 2px 2px 5px black;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

#icon {
  vertical-align: middle;
  margin-right: 5px;
  font-size: 20px;
}

.modal-content {
  background-color: #ff4081;
  margin: 10% auto;
  padding: 40px 30px;
  border: 2px solid #ffffff;
  width: 400px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.modal h2 {
  font-family: 'NeoDunggeunmoPro-Regular';
  font-size: 26px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
}

.modal p {
  font-family: 'NeoDunggeunmoPro-Regular';
  font-size: 16px;
  color: #ffffff;
  line-height: 1.5;
  margin-bottom: 16px;
  word-break: keep-all;
}

.modal button {
  font-family: 'NeoDunggeunmoPro-Regular';
  display: block;
  margin: 30px auto 0;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: bold;
  background-color: #ffffff;
  color: #ff4081;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal button:hover {
  background-color: #ff4081;
  color: #ffffff;
}

.show {
  display: block;
}

.green {
  background-color: green;
}