@font-face {
  font-family: 'NeoDunggeunmoPro-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/NeoDunggeunmoPro-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.container {
  height: 930px;
  background-image: url('Tetris-love.jpg');
  background-size: 33.333%;

}

.wrap {
  margin: auto;
  width: 400px;
  height: 700px;
  border-radius: 60px;
  border: #ff4081 3px solid;
  background-color: #ff4081;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.t-board {
  transform: translate(0%, 10%);
  font-family: 'NeoDunggeunmoPro-Regular';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 500px;
  background-color: #000000;
  border-radius: 20px;
  outline: none;
  margin: 0 auto;
  padding: 5px 0 10px 0;
  position: relative;
}

.t-score {
  margin: 10px 0 10px 0;
  }

.t-board .t-score-label {
  font-size: 20px;
  font-weight: bold;
  margin-right: 8px;
  color: #ffffff;
}

.t-board .t-row {
  display: flex;
}

.t-cell {
  width: 20px;
  height: 20px;
  margin: 1px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.2) 100%);
}


.t-cell-0 {
  background-color: #f2f2f2;
}

.t-cell-1 {
  background-color: #ff4081;
}

.t-cell-2 {
  background-color: blue;
}

.t-cell-3 {
  background-color: orange;
}

.t-cell-5 {
  background-color: green;
}

.t-cell-4 {
  background-color: yellow;
}

.t-cell-6 {
  background-color: purple;
}

.t-cell-7 {
  background-color: red;
}


.game-over {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 16px;
  color: #ffffff;
  font-size: 26px;
  font-weight: bold;
}

.game-over button {
  font-family: 'NeoDunggeunmoPro-Regular';
  margin-top: 16px;
  padding: 8px 16px;
  font-size: 20px;
  font-weight: bold;
  background-color: #ff4081;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.game-over button:hover {
  background-color: #d5004e;
}

.button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 600%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.button button {
  width: 110px;
  margin-right: 20px;
  margin-left: 20px;
  font-family: 'NeoDunggeunmoPro-Regular';
  display: block;
  padding: 12px 16px;
  font-size: 24px;
  font-weight: bold;
  background-color: yellow;
  box-shadow: 0 -6px 5px #dbc004 inset;
  border-radius: 9px;
  color: #333333;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
  overflow: hidden;
  z-index: 1;
}


.button button:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.button button:hover:before {
  transform: scale(2);
  opacity: 0.5;
}

.button button:hover {
  box-shadow: 5px 0 0px -6px #dbc004 inset;
  border-radius: 9px;;
  background-color: yellow;
}

/* 게임방법 */
.info-button {
  z-index: 1;
  position: absolute;
  transform: translate(40%, 1950%);
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: rgb(76, 0, 255);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.info-button:before {
  content: "?";
  position: absolute;
  top: -23%;
  left: 53%;
  transform: translate(-50%, 50%);
  font-family: 'NeoDunggeunmoPro-Regular';
  font-size: 22px;
  color: white;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.info-button:hover {
  background-color: transparent;
}

.info-button:hover:before {
  transform: scale(1.2);
  opacity: 0.8;
}



.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #ff4081;
  margin: 10% auto;
  padding: 20px;
  border: 2px solid #ffffff;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.modal h2 {
  font-family: 'NeoDunggeunmoPro-Regular';
  font-size: 24px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 16px;
}

.modal p {
  font-family: 'NeoDunggeunmoPro-Regular';
  font-size: 16px;
  color: #ffffff;
  line-height: 1.5;
  margin-bottom: 16px;
}

.modal button {
  font-family: 'NeoDunggeunmoPro-Regular';
  display: block;
  margin: 0 auto;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: bold;
  background-color: #ffffff;
  color: #ff4081;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal button:hover {
  background-color: #ff4081;
  color: #ffffff;
}

.show {
  display: block;
}

.green {
  background-color: green;
}